<h2>Забыли пароль?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="col-md-6 buffer-top">
    <label for="exampleInputEmail1"><%= f.label :email %></label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="col-md-6 buffer-top">
    <button type="submit" class="btn btn-primary"><%= "Отправьте мне инструкции по сбросу пароля" %></button>
  </div>

<% end %>

<div class="col-md-6 buffer-top">
  <%= render "devise/shared/links" %>
</div>
